.title-heading {
   font-family: 'Brush Script MT', cursive; 
   font-size: 50px; margin-bottom: 5%;
}

.mat-flat-button {
    margin-left: 5px;
    background-color: rgb(211, 99, 14);
    color: white;
    font-weight: bold;
  }

.save-button {
    margin-left: 15px;
    margin-right: 5px;
    background-color: rgb(211, 99, 14) !important;
    font-size: 12px;
    width: 35px;
    height: 25px;
}

.cancel-button {
    background-color: rgb(4, 41, 204) !important;
    font-size: 12px;
    width: 35px;
    height: 25px;
    color: #ffffff !important;
}

.edit-button {
    margin-left: 15px;
    margin-right: 10px;
    background-color: rgb(211, 99, 14) !important;
    font-size: 10px;
    width: 30px;
    height: 20px;
}

.delete-button {
    background-color: rgb(201, 0, 0) !important;
    font-size: 10px;
    width: 30px;
    height: 20px;
    color: #ffffff !important;
}

.add-button {
    margin-left: 15px;
    background-color: rgb(211, 99, 14) !important;
}
  