 <div class="card-wrapper">
    <mat-card ngSkipHydration class="manager-card" appearance="outlined">
      <mat-card-header class="pizza-header-style">
        <div mat-card-avatar class="pizza-header-image"></div>
        <mat-card-title class="main-title">Pizza Designer App</mat-card-title>
        <mat-card-subtitle class="main-subtitle">Design Your Own Pizza!</mat-card-subtitle>
      </mat-card-header>
      <div>
        <app-toppings class="topping-alignment"></app-toppings>
        <mat-divider class="divider-style-transition"></mat-divider>
        <app-pizzas class="pizza-alignment"></app-pizzas>
      </div>
    </mat-card>
</div>
