.title-header-pizza {
    font-family: 'Brush Script MT', cursive; 
    font-size: 50px; 
    margin-bottom: 5%;
}

.designed-pizza-edit {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 15px;
    background-color: rgb(211, 99, 14) !important;
    font-size: 12px;
    width: 35px;
    height: 25px;
  }

.designed-pizza-delete {
    margin-top: 5px;
    background-color: rgb(201, 0, 0) !important;
    font-size: 12px;
    width: 35px;
    height: 25px;
    color: #ffffff !important;
}

.cancel-button {
    background-color: rgb(4, 41, 204) !important; 
    color: #ffffff !important;
}

.add-update-button {
    margin-left: 15px; 
    margin-right: 5px; 
    background-color: rgb(211, 99, 14) !important;
}

.divider-style {
    width: auto; 
    margin-right: 10%; 
    border-top-width: 3px; 
    border-color:rgb(211, 99, 14) !important; 
    margin-top: 5%;
}

.topping-checkbox {
    font-family: 'bradley hand', cursive; 
    font-size: 17px; 
    margin-bottom: 3px;
}

.topping-list {
    font-family: 'bradley hand', cursive; 
    font-size: 16px;
}

.created-title {
    font-family: 'Brush Script MT', cursive; 
    font-size: 40px; 
    margin-bottom: 5%;
}